# Build outputs
mkosi.output/
mkosi.cache/
mkosi.tools/
mkosi.tools.manifest
mkosi.builddir/
out/

# Generated artifacts
/mkosi.conf
/mkosi.finalize
/mkosi.postinst
/mkosi.extra
/mkosi.sandbox
/mkosi.skeleton

# Editor
*.swp
*.swo
*~
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.egg-info/
dist/
*.egg

# Tool caches
.ruff_cache/
.mypy_cache/
.pyright/
.pytest_cache/

# Ignore uv.lock for now; we should always use the latest version of packages etc
uv.lock
